---
import BaseHead from '@/components/BaseHead.astro';
import ScrollProgress from '@/components/decor/ScrollProgress.astro';
import NoiseBackground from '@/components/decor/NoiseBackground.astro';

import { SITE_DESCRIPTION, SITE_TITLE } from '@/consts';
import '@/styles/global.css';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="relative">
    <NoiseBackground />
    <ScrollProgress />

    <main class="relative">
      <slot />
    </main>
  </body>
</html>
