---
import { GITHUB_LINK } from '../consts';
import GrainBorderButton from './GrainBorderButton.astro';
import HeaderLink from './HeaderLink.astro';
---

<header>
  <nav
    class="bg-dark-500/60 border-primary-700/8 fixed top-0 right-0 left-0 z-50 border-b px-6 py-3 backdrop-blur-2xl"
  >
    <div class="flex items-center justify-between">
      <a
        href="#hero"
        class="font-jura text-primary-300 hover:text-primary-200 flex items-center gap-2 text-lg font-bold tracking-wider transition-colors"
      >
        @rodnye
      </a>
      <div class="hidden items-center gap-8 md:flex">
        <HeaderLink href="#about">About me</HeaderLink>
        <HeaderLink href="#projects">Projects</HeaderLink>
        <HeaderLink href="#skills">Skills</HeaderLink>
        <HeaderLink href="#contact">Contact</HeaderLink>
        <GrainBorderButton href={GITHUB_LINK}> Github </GrainBorderButton>
      </div>

      <button id="mobile-hamb" class="hamb block md:hidden">
        {
          Array(9)
            .fill(null)
            .map(() => <span />)
        }
      </button>
    </div>
    <div
      id="mobile-menu"
      class="border-primary-700/8 bg-dark-500/95 hidden border-t backdrop-blur-2xl md:hidden"
    >
      <div class="flex flex-col gap-4 px-6 py-6">
        <HeaderLink href="#about">About me</HeaderLink>
        <HeaderLink href="#projects">Projects</HeaderLink>
        <HeaderLink href="#skills">Skills</HeaderLink>
        <HeaderLink href="#contact">Contact</HeaderLink>
      </div>
    </div>
  </nav>
</header>

<!-- Margin in top -->
<div class="mb-16"></div>

<style>
  .hamb {
    margin: 20px;
    width: 30px;
    height: 30px;
    position: relative;
    transition: 0.1s;
    cursor: pointer;
  }
  .hamb span {
    width: 5px;
    height: 5px;
    background-color: var(--color-primary);
    display: block;
    border-radius: 50%;
    position: absolute;
  }
  .hamb:hover span {
    transform: scale(1.2);
    transition: 350ms cubic-bezier(0.8, 0.5, 0.2, 1.4);
  }
  .hamb span:nth-child(1) {
    left: 0;
    top: 0;
  }
  .hamb span:nth-child(2) {
    left: 12px;
    top: 0;
  }
  .hamb span:nth-child(3) {
    right: 0;
    top: 0;
  }
  .hamb span:nth-child(4) {
    left: 0;
    top: 12px;
  }
  .hamb span:nth-child(5) {
    position: absolute;
    left: 12px;
    top: 12px;
  }
  .hamb span:nth-child(6) {
    right: 0px;
    top: 12px;
  }
  .hamb span:nth-child(7) {
    left: 0px;
    bottom: 0px;
  }
  .hamb span:nth-child(8) {
    position: absolute;
    left: 12px;
    bottom: 0px;
  }
  .hamb span:nth-child(9) {
    right: 0px;
    bottom: 0px;
  }
  .hamb.open {
    transform: rotate(180deg);
    cursor: pointer;
    transition: 0.2s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  }
  .hamb.open span {
    border-radius: 50%;
    transition-delay: 200ms;
    transition: 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  }
  .hamb.open span:nth-child(2) {
    left: 6px;
    top: 6px;
  }
  .hamb.open span:nth-child(4) {
    left: 6px;
    top: 18px;
  }
  .hamb.open span:nth-child(6) {
    right: 6px;
    top: 6px;
  }
  .hamb.open span:nth-child(8) {
    left: 18px;
    bottom: 6px;
  }
</style>
<script>
  // Mobile menu toggle
  const mobileBtn = document.getElementById('mobile-hamb')!;
  const mobileMenu = document.getElementById('mobile-menu')!;
  let menuOpen = false;

  mobileBtn.addEventListener('click', () => {
    menuOpen = !menuOpen;
    mobileMenu.classList.toggle('hidden', !menuOpen);
    mobileBtn.classList.toggle('open');
  });
</script>
