<div class="noise-bg"></div>

<style>
  .noise-bg {
    opacity: 0.05;
    background: url(/src/assets/noise-bg.webp);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -4;
  }
</style>
